<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/common::html-head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBoard:view</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>
    <div id="container">
        <header>
            <h3>Board System v1.0</h3>
        </header>
        <main>
            <section id="board" class="modify">
                <h3>글수정</h3>
                <article>
                    <form th:action="@{/posts/{postId}/update(postId=${dto.id})}" th:object="${dto}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <table>
                            <tr>
                                <td>제목</td>
                                <td><input type="text" th:field="*{title}" name="title" placeholder="제목을 입력하세요."/></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>
                                    <textarea th:field="*{content}" name="content"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td>첨부</td>
                                <td><input type="file" name="file"/></td>
                            </tr>
                        </table>
                        <div>
                            <a th:href="@{/posts/{postId}(postId=${dto.id})}" class="btnCancel">취소</a>
                            <input type="submit"  class="btnWrite" value="수정완료">
                        </div>
                    </form>
                </article>
            </section>
        </main>
        <footer>
            <p>copyright 김철학.com</p>
        </footer>
    </div>
</body>
</html>